/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

/* Apply fonts */
body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
}



*{
  margin: 0;
  padding: 0;
  }
  .fixed{
    position: sticky;
    top:0;
    z-index:100;

  }
header{
  background-color: #141920;
  color:white;
  display: flex;
  height:60px;
  /* overflow-x: scroll;
  overflow-y: scroll; */
}
/* header left */
.header_left{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  margin-right: 30px;
}
.amazon_icon{
  width:90px;
  margin-right: 15px;
}
.map_description p{
color:rgb(203, 200, 200);
font-size: 10.5px;

}
/* .map_icon{
  padding-top: 15px;
} */
/* header middle */
.header_middle{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  width:100%;
  overflow: hidden;
  flex:1;
  border-radius: 10px;
  
}
.search select,
.search input{
  padding: 10px;
  font-weight: bold;
  outline:1px solide white;
}
.search select{
  border:none;
}
.search input{
  border:1px solid white;
  width:100%;
  margin-right:-2px;
}
.search svg{
  padding: 7px;
  background:#febd69;
  color:#1a1a1a;
}
.search svg :hover{
  background-color: #EA9F4B;
}
.search:focus-within{
  border:2px solid #EA9F4Bcc;
}
#drop{
  height:35px;
  width:65px;
  font-size: 12px;
  border-radius: 5px;
  border:none;
  background-color: #D4D4D4;
}
.search{
  height: 35px;
  width:580px;
  margin-left: -3px;
  border: none;
  padding-left:6px;
 
}
.search_icon{
  border:1px solid white;
  background-color: #EA9F4B ;
  color:rgb(37, 37, 37);
  padding:7.5px;
  padding-right:12px;
  padding-left: 12px;
  border:none;
  border-radius: 5px;
 margin-left: -3px;
  
}
/* header right */
.header_right{
  display:flex;
  justify-content: center;
  align-items: center;
}
.flag{
  height:15px;
 
}
#country,.lists{
  background-color: #141920;
  color:white;
  border:none;

  
}
.flag_country{
  margin-right:20px;
}
.header_right a{
  text-decoration: none;
  color:white;
 
}
.last_right_corner {
 display: flex;
  align-items: center;
  justify-content: center;
   
}
.sign-in p{
font-size: 10px;
margin-left: 5px;
}
.sign-in{
  margin-right:20px
}
.orders{
  margin-right:20px
}
.cart {
  position: relative;
 padding-right:10px;
}
.cart span {
  position: absolute;
  font-weight: bold;
  top: -6px;
  font-size: 20px;
  background-color: #1a1a1a;
  left: 14px;
  color: #EA9F4B;
}

.cart_img{
  size:45px;
}
.cart p{
   font-size: 8px;
  margin-left:-12px;
  margin-bottom:3px;
  
}
.cart-count {
   height:5px;
  }
.amazon_icon:hover,
.map_description :hover,
.header_right a:hover,
.cart span:hover{
border:1px solid white;
border-radius: 3px;
}

.lower_header{
  background-color: #232f3e;
  color:white;
 
}
.lower_header ul {
   display: flex;
 
  gap:5px;
  list-style: none;
}
.lower_header ul li{
  padding:8px;
}
.lower_header ul li:first-child{
  display: flex;
  gap:2px;
  align-items: center;
}

@media screen and (max-width:576px){
  header{
    display: flex;
    flex-direction: column !important;
    height: auto;
  }
  .lower_header ul li:not(:first-child){
    display: none;
  }
  .flag_country{
    display: none;
  }
}
